:root{
    --bg__nav: #ff5f5a;
}

.header__container{
    position: fixed;
    width: 100%;
    background: var(--bg__nav);
    top: 0;
    left: 0;
    font-family: "Arial";
    font-weight: bold;

}
.nav__container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    
}
.nav__ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.nav__li{
    text-align: center;
    list-style-type: none;
    font-size: 1.8rem;
    position: relative;
    transition: box-shadow 0.5s;
}
.nav__li > a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 15px 35px;
}
.nav__li:hover{
    transition: box-shadow 0.5s;
    box-shadow: 0px 10px 1rem -.5rem #1d2433;
}

.nav__html__ul{
    background: rgba(255, 95, 90, 80%);
    position: absolute;
    font-size: 1.6rem;
    width: 100%;
    display: none;
}

.nav__ul .nav__li:hover .nav__html__ul{
    display: block;
}

.nav__html__li :hover{
    background: rgba(255, 95, 90, 90%);
}

.nav__html__li > a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 15px;
    
}
.nav__html__li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

