* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --bg__primary: #aab7c2;
    --bg__secondary: #1d2433;
    --c__primary: #eb994e;
    --c__secondary: #ffffff;
    --c__sub--title: #59c7df;
    --c__text: #aed879;
}

html {
    font-size: 62.50%;
}

body {
    background-color: var(--bg__primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
    flex-direction: column;

}

.container_table {
    margin-top: 5rem;
    background: var(--bg__secondary);
    border-radius: 10px;
    padding: 4em;
    box-shadow: 0px 0px 12rem 4rem rgba(0, 0, 0, 30%);
}

.container_table,
.container__tagname{
    color: white;
    font-family: "Tahoma", Arial, Helvetica, sans-serif;
}

.container_table > h1 {
    text-align: center;
    font-size: 3.5rem;
    color: var(--c__primary);
    margin: 1rem 0rem 2rem 0rem;
}

.container__tagname {
    font-size: 1.6rem;
    padding: 1px;
}

.container__tagname tr th:first-child,
.container__tagname tr td:first-child {
    width: 50px;
    height: 50px;
    /* border-bottom: 1px solid #eb994e; */
}
.container__tagname tr{
    cursor: default;
}


.container__tagname tr th{
    color: var(--c__sub--title);
}

.container__tagname tr td{
    color: var(--c__secondary);
    text-align: center;
    
}
.container__tagname tr td span{
    color: var(--c__sub--title);
    
}


.container__tagname tr td:nth-child(2){
    color: var(--c__sub--title);
}

.container__tagname tr td:nth-child(2),
.container__tagname tr th:nth-child(2),
.container__tagname tr td:nth-child(3),
.container__tagname tr th:nth-child(3),
.container__tagname tr td:nth-child(4),
.container__tagname tr th:nth-child(4) {

    padding: 0em 1rem;
    /* border-bottom: 1px solid #eb994e; */
}

.container__tagname tr:hover{
    background: rgba(0,0,0,20%);
}

@media screen and (max-width: 1000px) {
    .container__tagname tr td {
        display: block;
    }

    .container__tagname tr td::before {
        content: attr(data-th)": ";
        width: 100px;
        display: inline-block;
        text-align: center;
        font-weight: 900;
        padding-right: 1rem;
        color: var(--c__sub--title);
    }


    .container__tagname tr th {
        display: none;
    }

    .container__tagname tr td:nth-child(2),
    .container__tagname tr th:nth-child(2),
    .container__tagname tr td:nth-child(3),
    .container__tagname tr th:nth-child(3),
    .container__tagname tr td:nth-child(4),
    .container__tagname tr th:nth-child(4) {
        height: 50px;
        border-bottom: 0px;
        padding: 0rem;

    }
    .container__tagname tr td{
        display: flex;
        align-items: center;
    }
    .container__tagname tr td span{
        display: inline-block;
        
    }
    .container__tagname tr td:last-child{
        height: 0%;
    }

    
    
    .container__tagname tr td:first-child {
        width: 100%;
        height: 50px;
        border-bottom: 0px;
        margin-top: 2rem;
    }
    .container__tagname tr td:last-child {

        margin-bottom: 2rem;

    }
    br{
        display: inline;
    }

}